<OprLog xmlns="http://www.acs-inc.com/tr/arcos/oprlog/7/OperationLog" schema_version="##schema_version" terminal_owner="##terminal_owner" terminal_type="##terminal_type" terminal="##terminal" log_type="##log_type" log_no="##log_no" log_timestamp="##log_timestamp" period_id="##period_id" period_open="##period_open">